@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*Body Text*/

h1, .h1{
font-family: "Lato", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 2.986rem;
}
h2, .h2{
font-family: "Lato", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 2.488rem;
}

h3, .h3{
font-family: "Lato", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 2.074rem;
}
h4, .h4{
font-family: "Lato", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 1.728rem;
}

h5, .h5{
font-family: "Lato", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 1.44rem;
}
h6, .h6{
font-family: "Lato", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 1.2rem;
}

p, li{
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}
.sec{
font-family: "Karla", sans-serif;
font-size: 1.2rem;
}
.nav-link{
  font-family: "Lato", sans-serif;
 font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
code{
	font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-style: normal;
	  font-size: 1rem;
}
/* videos */
iframe{
	width: 800px;
  height: 400px;

}
 
/*figure caption*/

.figure-caption {
font-family: 'Karla', sans-serif;
}

/*links*/
.script{
	font-size:.85rem;}
a{
	text-decoration: none;
}
